# db
DB_HOST=postgre
DB_PORT=5432
DB_USERNAME=warehouse
DB_PASSWORD=warehouse
DB_NAME=warehouse

# grpc
GRPC_HOST=0.0.0.0
GRPC_PORT=50051
GRPC_SHUTDOWN_TIMEOUT_SEC=10s
GRPC_KEEPALIVE_MAX_CONNECTION_IDLE=5m
GRPC_KEEPALIVE_MAX_CONNECTION_AGE=30m
GRPC_KEEPALIVE=10s
GRPC_LIMIT_RPS=1000
GRPC_LIMIT_BURST=1500

# scheduler
SCHEDULER_BATCH_SIZE=50
SCHEDULER_OUTBOX_INTERVAL=5s
SCHEDULER_WAVE_INTERVAL=30s
SCHEDULER_WAVE_MAX_ORDERS=50
SCHEDULER_CLEANUP_INTERVAL=1h
SCHEDULER_CLEANUP_GAP=168h

# kafka
KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC=order-events
KAFKA_ATTEMPTS=3
KAFKA_BATCH_SIZE=100
KAFKA_BATCH_TIMEOUT=500ms
SCHEMA_REGISTRY_URL=http://localhost:8081

# ports (docker-compose host bindings)
KAFKA_1_PORT=19091
KAFKA_2_PORT=19092
KAFKA_3_PORT=19093
KAFKA_UI_PORT=18080
SCHEMA_REGISTRY_PORT=18081
